 * {
     padding: 0;
     margin: 0;
 }

 a {
     text-decoration: none;
     color: #b4b1b1;
 }

 li {
     list-style-type: none;
 }

 body {
     height: 2500px;
 }

 .nav {
     margin: 0 auto;
     width: 962px;
     height: 53px;
     color: #eeeded;
 }

 .png {
     float: left;
     line-height: 53px;
 }

 .navlist ul li {
     display: block;
     float: right;
     margin-right: 30px;
     line-height: 53px;
 }

 .navlist ul li::hover {
     border-bottom: 2px #b3bbc2 solid;
 }

 .poster img {
     width: 100%;
     height: 280px;
 }

 .poster-container {
     width: 100%;
     height: 284px;
     margin-top: -5px;
     background-color: #02b372;
 }

 .poster-container ul {
     margin: 0 auto;
     width: 700px;
     /* padding-top: -32px; */
     /* margin-top: 16px; */
     /* background-color: pink; */
 }

 .poster-container ul li {
     display: block;
     float: left;
     width: 150px;
     height: 208px;
     margin-right: 15px;
     margin-top: 34px;
     border: 1px solid #fff;
     /* background-color: pink; */
     /* background: url(images/developer_img3.png) no-repeat 0 -324px; */

 }

 .poster-container ul li:nth-child(1)::before {
     content: '';
     display: block;
     width: 150px;
     height: 134px;
     background: url(images/developer_img3.png) no-repeat -35px -24px;
     border-bottom: 1px solid #fff;
     /* background-position: 0 -324px; */
 }

 .poster-container ul li:nth-child(2)::before {
     content: '';
     display: block;
     width: 150px;
     height: 134px;
     background: url(images/developer_img3.png) no-repeat -30px -334px;
     border-bottom: 1px solid #fff;
     /* background-position: 0 -324px; */
 }

 .poster-container ul li:nth-child(3)::before {
     content: '';
     display: block;
     width: 150px;
     height: 134px;
     background: url(images/developer_img3.png) no-repeat -32px -647px;
     border-bottom: 1px solid #fff;
     /* background-position: 0 -324px; */
 }

 .poster-container ul li:nth-child(4)::before {
     content: '';
     display: block;
     width: 150px;
     height: 134px;
     background: url(images/developer_img3.png) no-repeat -35px -956px;
     border-bottom: 1px solid #fff;
     /* background-position: 0 -324px; */
 }

 .poster-container ul li p {
     float: left;
     margin-top: 15px;
     margin-left: 15px;
     color: #fff;
     font-size: 10px;
     /* text-align: center; */

 }

 .box-center {
     position: relative;
     margin: 25px auto;
     width: 980px;
     height: 500px;
     /* background-color: pink; */

     text-align: center;
 }

 .box-center .divs {
     widows: 700px;
     height: 50px;
     text-align: center;
     margin-top: 30px;
 }

 .box-center div ul li {
     float: left;
 }

 .box-center:nth-child(5) ul {
     height: 30px;
 }

 .box-center div:nth-child(5) {
     height: 100px;
 }

 .box-center div:nth-child(1) h3 {
     position: absolute;
     left: 330px;
     width: 30%;

     height: 50px;
     /* padding-bottom: h25px; */
     /* margin-bottom: 25px; */
     text-align: center;
     font-size: 28px;
     border-bottom: 2px solid #b4b1b1;
     /* border-top: 1px solid #000; */
 }

 .box-center div:nth-child(even) {
     background-color: #e7e8e8;
 }

 .box-center div:nth-child(2) ul li {
     /* padding-top: ; */
     /* display: block; */
     float: left;
     margin-left: 10px;
     margin-top: 15px;
     /* margin-top: 75px; */
     padding-left: 10px;
     /* padding-left: ; */
     text-align: center;
     /* background-color: #b4b1b1; */
 }

 .box-center div:nth-child(3) ul li {
     display: block;
     float: left;
     /* margin-top: 15px; */
     margin-right: 50px;
     width: 90px;
     height: 30px;
     background-color: #e7e8e8;
 }

 .box-center div:nth-child(7) ul li {
     display: block;
     float: left;
     /* margin-top: 15px; */
     margin-right: 50px;
     width: 90px;
     height: 30px;
     background-color: #e7e8e8;
 }

 .box-center div:nth-child(3) ul li:nth-child(1) {
     margin-left: 15px;
 }

 .box-center div:nth-child(3) ul li:last-child {
     width: 140px;
 }

 .box-center div:nth-child(3) ul {
     /* display: inline; */
     display: block;
     list-style: none;
     width: 100%;
 }

 .box-center div:nth-child(4) ul li {
     /* padding-top: ; */
     /* display: block; */
     float: left;
     margin-left: 10px;
     margin-top: 15px;
     /* margin-top: 75px; */
     padding-left: 10px;
     /* padding-left: ; */
     text-align: center;
     /* background-color: #b4b1b1; */
 }

 .box-center div:nth-child(6) ul li {
     /* padding-top: ; */
     /* display: block; */
     float: left;
     margin-left: 10px;
     margin-top: 15px;
     /* margin-top: 75px; */
     padding-left: 10px;
     /* padding-left: ; */
     text-align: center;
     /* background-color: #b4b1b1; */
 }

 .box-center div:nth-child(5) .index li:nth-child(2)::before {
     /* width: ; */
     content: '';

     background: url(images/developer_img4.png) no-repeat 0 1px;
     display: inline-block;
     background-size: 100%;

     width: 15px;
     height: 17px;
 }

 .box-center div:nth-child(5) .index li:nth-child(3)::before {
     /* width: ; */
     content: '';

     background: url(images/developer_img4.png) no-repeat 0 -21px;
     display: inline-block;
     background-size: 100%;

     width: 15px;
     height: 17px;
 }

 .box-center div:nth-child(5) .index li:nth-child(4)::before {
     /* width: ; */
     content: '';

     background: url(images/developer_img4.png) no-repeat 0 -69px;
     display: inline-block;
     background-size: 100%;

     width: 15px;
     height: 17px;
 }

 .box-center div:nth-child(5) {
     margin-top: 5px;
 }

 .box-center .divs .index {
     width: 100%;
     height: 20px;
 }

 .box-center .divs .index ul {
     display: inline;
     float: left;
     width: 100%;
     margin-top: 25px;
 }

 .box-center div:nth-child(5) ul li {
     display: block;
     float: left;
     width: 140px;
     height: 25px;
     margin-left: 100px;
     margin-top: 15px;
     /* padding-left: 10px; */
     /* font-size: 16px; */
     /* text-align: center; */
     background-color: #e7e8e8;
 }

 .box-center div:nth-child(5) ul li:nth-child(1) {
     margin-left: 0;
     background-color: #fff;
 }

 .box-center div:nth-child(5) ul li a {
     font-size: 16px;
 }

 .lastposter .boxposter {
     width: 1200px;
     height: 500px;
     /* margin-top: 50px; */
     margin: 150px auto;
     text-align: center;

     /* background: url(images/developer_img5.jpg) no-repeat; */
 }

 .lastposter .boxposter img {
     width: 100%;
 }