* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    color: #000;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4tm5a1');
    src: url('../fonts/icomoon.eot?4tm5a1#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?4tm5a1') format('truetype'),
        url('../fonts/icomoon.woff?4tm5a1') format('woff'),
        url('../fonts/icomoon.svg?4tm5a1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

span {
    display: block;
}