 @font-face {
     font-family: 'icomoon';
     src: url('../fonts/icomoon.eot?4tm5a1');
     src: url('../fonts/icomoon.eot?4tm5a1#iefix') format('embedded-opentype'),
         url('../fonts/icomoon.ttf?4tm5a1') format('truetype'),
         url('../fonts/icomoon.woff?4tm5a1') format('woff'),
         url('../fonts/icomoon.svg?4tm5a1#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
     font-display: block;
 }

 body {
     color: hsl(0, 3%, 12%);
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 a {
     text-decoration: none;
     clear: #333;
 }

 li {
     list-style: none;
 }

 button,
 input {
     font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
     border: 0;
     outline: none;
 }

 div {
     display: block;
 }